* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #f9f3ec;
  display:flex;
  font-family: 'Asar', serif;
}

h1 {
  font-family: 'Libre Caslon Text', serif;
  font-size: 2rem;
}

h2 {
  font-family: 'Libre Caslon Text', serif;
  font-size: 1.45rem;
  margin: 20px 0;
}

p {
  font-size: 1.2rem;
  line-height: 2.1rem;
  margin: 0 auto 15px auto;
}

ul {
  padding-left:40px;
}

ul li {
  font-size: 1.2rem;
  padding: 0.3rem;
}

a {
  color: #a17f56;
  text-decoration: none;
  transition: 0.2s; 
}

a:hover {
  background: #e7cfb2;
  color: #7a5b34;
}

img {
  float:right;
}

.main-doc-container {
  display:flex;
  flex-grow:1;
  justify-content: center;
  margin-left: 350px;
}

#navbar {
  background-color: #e7cfb2;
  border-right: 1px solid #393e46 ;
  height: 100%;
  max-height: calc(100% - 10px);
  overflow-y: auto; /* La propiedad  overflow-y define si se debe de cortar el contenido, mostrar una barra scroll, o mostrar el contenido desbordado  de un elemento cuando se desborda de arriba y abajo. */
  position:fixed;
  width: 350px;
}

.navbar-header {
  padding: 10px;
  text-align: center;
}

.nav-link {
  border-top: 1px solid #393e46;
  color: #393e46;
  display:block;
  font-size: 1.2rem;
  padding: 15px;
  text-decoration: none;
}

.nav-link:hover {
  border: 1px solid #212327;
  color: black;
  font-weight: 600;
}

.underline {
  display: inline-block;
}

.underline:after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 250ms;
}

.nav-link:hover .underline:after {
  width:100%;
}

#main-doc {
  padding-top: 30px;
  width: 700px;
}

.main-section {
  margin-bottom: 35px;
}

.section-header {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.code {
  background-color:#dbdbd7;
  border: 1px solid gray;
  display:block;
  font-family: Courier;
  font-size: 1rem;
  margin: 1em;
  padding: 0.3em;
}

.character {
  background-color: #dbdbd7;
  display: inline-block;
  line-height: 1.5rem;
  padding: 0px;
}

@media(max-width: 1220px){
  h1 {
    font-size: 1.4rem;
  }
  #navbar {
    width: 200px;
  }
  .nav-link {
    font-size: 1.1rem;
  }
  .main-doc-container {
    margin-left: 200px;
  }

  #main-doc {
    width: 500px;
  }
}

@media(max-width: 600px){
  body {
    flex-direction:column;
  }

  h2 {
    font-size: 1.25 rem;
    margin: 10px 0;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  ul li {
    font-size: 1rem;
  }

  #navbar {
    border-bottom: 2px solid #393e46;
    height: 150px;
    position:fixed;
    top:0;
    width: 100%;
  }
  .navbar-header {
    padding: 5px;
  }

  .nav-link {
    font-size: 0.9rem;
    padding:10px;
  }

  .main-doc-container {
    margin: 150px 20px 0px 20px;
  }
  #main-doc {
    width: 100%
  }
}
